* {
  font-family: Raleway, sans-serif !important;
}

body {
  width: 100%;
  margin: 0 !important;
  padding: 1em;
}

h1 {
  font-size: calc(3em + 1vw);
  margin-top: 0
}

section header {
  width: 100%;
  text-align: center;
}

header img {
  width: 60%;
}
