<style>
  body {
    width: 100%;
    margin: 0 !important;
    padding: 1em;
  }
  table {
    font-size: 5vmin;
    width: 50vw
  }
  td, th {
    padding: 1em;
    text-align: left;
  }
  h1 {
    margin-top: 0
  }
</style>
<section>
  <header>
    <h1>Cigna Coding Challenge</h1>
  </header>
</section>
<main>
  <section>
    <h2>Physician's Hall of Fame</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Specialty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Louis Pasteur</td>
          <td>Molecular Biology</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
